rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write;
      // allow read, create, delete;

      // Only allow to create a document if the user is authenticated
      allow create: if request.auth != null;
      // Only allow to read or delete a document if the user uid is
      // the same as the resource uid (document creator)
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}